.header-container {
  display: flex;
  height: 156px;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.total-despesas-box {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 270px;
  height: auto; 
}

.total-despesa-text {
  color: #003BE5;
  font-weight: 400;
}

.email-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.email {
  color: #2FC18C;
  font-size: 14px;
  font-weight: 600;
}